# General files
*.pyc

# Documentation files
Scripts_Docs/**
Script_docs/**
Logs/**

#  gView files
Scripts/gView/**
/shortcuts.conf
/gViewBookmark.prefs
/layout.mws
/DT3D_MariLibraryV1.0.jpg
/gViewConfig.prefs
Scripts/init_gView.py
